
/*background umum*/
.wraper{
	background-color: #6B8E23;
	margin: 10px auto;
}
.wraper .s{
	width: 100%;
	height: 200px;
}
.wraper .menu ul{
	list-style-type: none;
}
.wraper .menu ul li{
	float: left;
	margin: 10px;
	padding: 5px;
}
.wraper .menu ul li a{
	text-decoration: none;
	color: black;
	text-decoration: none;
}
/*Bagian Content*/
.wraper .content{
	float: left;
	width: 80%;
	height: 500px;
	display: inline-block;
}
.content1 img{
	width: 35%;
	height: 35%;
	margin-left: 110px;
}
.content2 img{
	width: 42%;
	height: 35%;
	margin-left: 95px;
}
.content3 img{
	width: 48%;
	height: 35%;
	margin-left: 90px;
}
.content1, .content2, .content3 p{
	padding:5px;
}
.wraper .content .content1{
	width: 30%;
	background-color: #DEB887;
	display: inline-block;
}
.wraper .content .content1  a{
	float: right;
	text-align: justify;
}
.wraper .content .content2{
	width: 30%;
	background-color: #DEB887;
	display: inline-block;
}
.wraper .content .content2 a{
	float: right;
}
.wraper .content .content3{
	width: 30%;
	background-color: #DEB887;
	display: inline-block;
}
.wraper .content .content3 a{
	float: right;
}
div button {
	background-color: red;
	color: #DEB887;
	border: 0px;
}
div button a{
	color: #DEB887;
}
p{
	text-align: justify;
}
h3{
	text-align: center;
}
/*Bagian Sidebar*/
.wraper .sidebar{
	float: right;
	width: 20%;
	height: 500px;
}
.wraper .sidebar .menu_artikel{
	background-color: #B8860B;
	height: 170px;
	padding: 20px;
	margin: 0px;
}
.wraper .sidebar .menu_artikel ul li{
	list-style-type: none;
}
.wraper .sidebar .Komentar{
	background-color: #CD5C5C;
	height: 250px;
	margin: 0px;
	padding: 20px;
}
/*bagian footer*/
.wraper .footer .footer_kiri{
	background-color: #2E8B57;
	width: 40%;
	float:left;
	height: 80px;
}
.wraper .footer .footer_kanan{
	background-color:#9ACD32;
	width: 60%;
	float: right;
	height: 80px;
}
.clearfix:before, .clearfix:after {
	 content: "";
	 display: table;
}
.clearfix:after {
	 clear: both;
}
.clearfix {
	 zoom: 1;
}

