		.wrap{
			background: blue;
			width: 900px;
			margin: 10px auto;
		}
		/*bagian header*/
		.wrap .header{
			background: green;
			padding: 2px 10px;
		}/*akhir header*/
		 
		/*bagian menu*/
		.wrap .menu{
		background: yellow;
		}
		.menu ul{
			padding: 10px;
			margin: 10px;
			background: yellow;
			overflow: hidden;
		}
        .menu ul, li{
			margin: 0;
			padding: 10px;
			list-style-type: none;
        }
        ul.sub{
	        display: none;
        }
        ul.utama li{
    	    display: inline-block;
        }
        ul.utama li:hover ul.sub{
	        display: block;
	        position: absolute;
        }
        ul.sub li{
    	    display: block;
        }/*akhir menu*/
		 
		.clear{
			clear: both;
		}		 
		.badan{
			height: 450px;
		}
		/*bagian sidebar*/
		.wrap .badan .sidebar{
			background: orange;
			float: left;	
			width: 25%;
			height: 100%;
		}/*akhir sidebar*/
		.wrap .badan .content{
			background: red;
			float: left;
			height: 100%;
			width: 75%;	
		} 
		.wrap .footer{
			width: 100%;
			padding: 10px;
		}